*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Onest", serif;
}

body{
    background-color: #001524;
    height: 100vh;
}

.interface{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btnContatos button{
    padding: 12px 40px;
    font-size: 18px;
    font-weight: 400;
    background-color: #ff7d00;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

button:hover, form .btnEnviar input:hover{
    box-shadow: 0px 0px 8px #af6118;
    transform: scale(1.05);
}

h2.Titulo{
    color: white;
    font-size: 32px;
    text-align: center;
}

h2.Titulo span{
    color: #ff7d00;
}

/* Estilo cabeçalho */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    height: auto;
    width: 90px;
}

header a{
    display: inline-block;
    color: rgb(202, 202, 202);
    text-decoration: none;
}

header a:hover{
    color: white;
    transform: scale(1.05);
    transition: .2s;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.btnSocial button{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: #ff7d00;
    font-size: 25px;
    cursor: pointer;
    margin: 0 6px;
    transition: .2s;
}

/* Estilo do topo do site */
section.topoDoSite{
    padding: 40px 4%;
}

section.topoDoSite .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topoDoSite h1{
    color: white;
    font-size: 32px;
    line-height: 40px;
}

.topoDoSite .txtTopoSite h1 span{
    color: #ff7d00;
}

.topoDoSite .txtTopoSite p{
    color: white;
    margin: 40px 0px;
    text-align: justify;
}


.topoDoSite .imgTopoSite img{
    padding-left: 90px;
    height: 380px;
    width: auto;
}

/* Esctilo Especialidades */
section.Especialidades{
    padding: 40px 4%;

}
section.Especialidades{
    gap: 60px;
}

.Especialidades .flex{
    justify-content: space-between;
}

.Especialidades .espBox{
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.Especialidades .espBox:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.308);
}

.Especialidades .espBox img{
    height: 140px;
    width: auto;
}

.Especialidades .espBox h3{
    font-size: 28px;
    margin: 15px 0;
}

.Especialidades .espBox p{
    text-align: justify;
}

/* Estilo de Sobre */
section.Sobre{
    padding: 40px 4%;
}

.Sobre .imgSobre img{
    height: 480px;
    width: auto;
    border: solid 0px #ff7d00;
    border-radius: 20px;
}

section.Sobre .flex{
    align-items: center;
    gap: 60px;
}

.Sobre .txtSobre{
    color: white;
}

.Sobre .txtSobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.Sobre .txtSobre h2 span{
    color: #ff7d00;
    display: block;
}

.Sobre .txtSobre p{
    margin: 20px 0;
    text-align: justify;
}


/* Estilo dos projetos */
section.Portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 50px 5px rgba(255, 255, 255, 0.055);
}

section.Portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.imgPort{
    width: 360px;
    height: 460px;
    border-radius: 40px;
    cursor: pointer;
    background-size: cover;
    background-position: 100% 0%;
    transition: 7s;
    position: relative;
}

.imgPort:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00152441;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* Estilazção do form */
section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #6d6c6c2d;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

form textarea{
    resize: none;
    height: 200px;
}

form input::placeholder, form textarea::placeholder{
    color: #ff7d00;
}

form .btnEnviar{
    margin-top: 20px;
    text-align: center;
}

form .btnEnviar input{
    width: 120px;
    background-color: #ff7d00;
    color: #001524;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* Estilo Rodapé */
footer{
    padding: 60px 4%;
    box-shadow: 0 0 50px 5px rgba(255, 255, 255, 0.055);
}

footer .flex{
    justify-content: space-between;
}

footer .lineFooter{
    padding: 20px 0;
}

.boderLine{
    border-top: 2px solid #ff7d00;
}

footer .lineFooter p i{
    color: #ff7d00;
    font-size: 22px;
}

footer .lineFooter p a{
    color: white;
}

/* @media screen and (max-width: 1020px){

} */